/*------CONFIG------*/
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

svg{
  height: auto;
  width: auto;
  max-width: 24px;
}

img {
  max-width: 100%;
}

:root {
  --body-bg: #191919;
  --main-text-color: #fff;
  --current: #118DA8;
  --card-bg: #000;
  --text-color: rgba(255, 255, 255, 0.7);
}

body {
  /* overflow: hidden; */
  font-family: 'DM Sans', sans-serif;
  color: var(--main-text-color);
  background-color: var(--body-bg);
}

.container {
  max-width: 1340px;
  padding: 0 50px;
  margin: 0 auto;
}

button {
  border: none;
  font-size: 17px;
  line-height: 159%;
  color: var(--main-text-color);
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
  text-decoration: none;
  height: auto;
  min-height: 51px;
}

ul,li{
  margin: 0;
  padding: 0;
  list-style: none;
}
/*------CONFIG------*/

/*-----HEADER start*/
.header{
  position: relative;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: auto;
  min-height: 110px;
}

.logo{
  cursor: pointer;
}

.nav__list {
  display: flex;
  align-items: center;
}

.nav__item:not(:last-child) {
  margin-right: 40px;
}

.nav__link {
  font-size: 18px;
  line-height: 27px;
  transition: color 0.3s ease;
  position: relative;
}



.nav__btn{
  border: var(--main-text-color) 1px solid;
  border-radius: 20px;
  background-color: inherit;
  padding: 0px 40px;
}

.nav__btn:hover,
.nav__btn:focus{
  transition: color 0.3s ease;
  color: var(--current);
  border-color: var(--current);
}

.nav__link:hover{
  color: var(--current);
}

.nav__link:focus{
  color: var(--current);
}

/*-----HEADER end-----*/

/*-----HERO start-----*/

.hero .container {
  display: flex;
  align-items: flex-end;
}

.hero__image {
  position: relative; 
  width: 50%;
}

.hero__img{
  border-radius: 12px;
}

.hero__content {
  width: 50%;
  padding-left: 60px;
  padding-bottom: 150px;
}
.hero__title {
  margin: 0;
  margin-bottom: 70px;
  font-weight: 400;
  font-size: 70px;
  line-height: 125%;
  letter-spacing: 3.2px;
  max-width: 542px;
}

.hero__title-bold {
  font-weight: 700;
  font-style: italic;
}

.hero__listen-caption {
  display: block;
  margin-bottom: 16px;
  font-size: 15px;
  line-height: 24px;
}

.social {
  display: flex;
  align-items: center;
}

.social__item:not(:last-child) {
  margin-right: 17px;
}

.social__link {
  display: block;
  width: 32px;
  height: 32px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.social__link:hover{
  transform: scale(1.5);
  transition: all 0.3s ease;
}

/*-----HERO end-------*/

/*-----EPISODES start-----*/

.episodes {
  padding-top: 104px;
  padding-bottom: 96px;
}

.title {
  margin: 0;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 64px;
  line-height: 79px;
  letter-spacing: 2.88px;
}

.episodes__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 70px;
}

.episodes__top .title {
  margin: 0;
}

.episodes__filter {
  display: flex;
  align-items: center;
  gap:9px;
}

.episodes__filter-btn{
  border-radius: 6px;
  height: auto;
  min-height: 50px;
  padding-left: 15px;
  padding-right: 15px;
  
}


.episodes__filter-btn:hover{
  
  transition: all 0.3s ease;
  background-color:var(--current)
}

.episodes__filter-btn:focus{
  transition: all 0.3s ease;
  background-color:var(--current)
}

.episodes-card__category{
  border-radius: 6px;
  background: #191919;
  padding: 0px 16.50px;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.episodes-card__category:hover{
  transition: all 0.3s ease;
  color:var(--current);
}

.episodes-card__category:focus{
  transition: all 0.3s ease;
  color:var(--current);
}

.episodes-card {
  display: flex;
  border-radius: 32px;
  padding: 40px;
  background-color: var(--card-bg);
}

.episodes-card__image {
  width: 389px;
  margin-right: 50px;
}

.episodes-card__number {
  margin-bottom: 18px;
  font-size: 17px;
  line-height: 27px;
  color: var(--current);
}

.episodes-card__title {
  margin: 0;
  margin-bottom: 28px;
  font-weight: 400;
  font-size: 64px;
  line-height: 70px;
  letter-spacing: 2.56px;
}

.episodes-card__descr {
  margin: 0;
  margin-bottom: 18px;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  color: var(--text-color);
}

.episodes__btn {
  border-radius: 6px;
  background-color: var(--current);
  padding-left: 15px;
  padding-right: 15px;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.episodes__btn:hover{
  transform: scale(1.1);
  transition: all 0.3s ease;
}
.episodes__btn:focus{
  transform: scale(1.1);
  background-color: #454F51;
}


.episodes__item:not(:last-child) {
  margin-bottom: 60px;
}
/*-----EPISODES end------*/

/*------GALERY start------*/ 

  .gallery__content {
    padding-bottom: 30px;
  }
  
  .gallery__btn {
    position: absolute;
    top: 50%;
    z-index: 10;
    border: none;
    padding: 0;
    width: 60px;
    height: 60px;
    background-color: transparent;
    cursor: pointer;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transform: translateY(-50%);
    transition: color 0.3s ease;
  }
  
  .gallery__left {
    left: 40px;
    background-image: url("../img/svg/left-chevron-svgrepo-com.svg");
    fill: var(--main-text-color);
  }
  
  .gallery__right {
    right: 40px;
    background-image: url("../img/svg/right-chevron-svgrepo-com.svg");
    fill: var(--main-text-color);
  }
  
  .gallery img {
    border-radius: 12px;
  }
  
  .gallery__pagination {
    font-size: 17px;
    line-height: 27px;
    text-align: center;
    color: var(--current);
  }
  /*------GALERY end------*/

/*-----JACOB start-----*/

.jacob{
  padding-top: 100px;
  padding-bottom: 163px;
}

.jacob > .container{
  display: flex;
  flex-direction: row-reverse;
}
.jacob__meet{
  color: var(--current);
  font-family: 'DM Sans' , sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  
}

.jacob-card__title{
  color: var(--main-text-color);
  font-family: 'DM Sans',sans-serif;
  font-size: 65px;
  line-height: 122%;
  letter-spacing: 2.88px;
  margin: 0;
  width: auto;
  min-width: 512px;
  height: 80px;
}

.jcbt{
  color: rgba(255, 255, 255, 0.70);
font-family: 'DM Sans' , sans-serif;
font-size: 22px;
line-height: 150%;
}

.jacob-card__content{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-right:100px;
  padding-top: 164px;
}

  /*-----JACOB end-----*/

/*-----FOOTER start-----*/

.footer {
  padding: 100px 0;
}

.footer > .container{
  display:flex
}


.logosocial{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap:20px;

}

.message-list{
  display: flex;
  gap: 15px;
}

.messangers{
  display: flex;
  align-items: center;
  gap: 15px;
}
.message__item{
  display: flex;
  align-items: center;
}

.footernav__link:hover{
  color: var(--current);
}

.footernav__link:focus{
  color: var(--current);
}

.message{
  fill: var(--main-text-color);
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.fnav__link {
  font-size: 18px;
  line-height: 27px;
  transition: color 0.3s ease;
}

.fnav__link:hover:hover, 
.fnav__link:focus:focus{
  color: var(--current);
}

.message:hover{
  transition: all 0.3s ease;
  transform: scale(1.2);
  fill: var(--current) ;
}

.footernav__list{
  display: inline-flex;
  flex-direction: column;
  gap:10px;
  margin-left: 246px;
}

.footerlist-reset {
  margin-left: 76px;
}
.social__link--1 {
  background-image: url("../img/svg/social-1.svg");
}

.social__link--2 {
  background-image: url("../img/svg/social-2.svg");
}

.social__link--3 {
  background-image: url("../img/svg/social-3.svg");
}

.social__link--4 {
  background-image: url("../img/svg/social-4.svg");
}

.social__link--5 {
  background-image: url("../img/svg/social-5.svg");
}
/*-----FOOTER end-----*/

/*-----MODAL start-----*/
.modal{
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.20);
  display: flex;
  cursor: pointer;
  z-index: 9999;
}
.modal__window{

  position: relative;
    width: 900px;
    height: 540px;
    border-radius: 32px;
    background: var(--card-bg);
    margin: auto;
    color:#212121;
    padding: 40px;
    cursor: default;
    display: flex;
}
.modal__button{
  width: 18;
  height: 18;
  color:var(--main-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  position: absolute;
}
.is-hidden {
  display: none;
}

.modal__title{
  display: flex;
  height: 330px;
  width: 444px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 53px 35px 0px 35px ;
  margin-top: 17px;
}

.modal__head{
  color: var(--main-text-color);
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; 
  letter-spacing: 2.88px;
  margin:0;
}

.modal__text{
  color: var(--current);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  width: 96px;
}

.form__body{
  width: 403px;
  height: 279px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  margin-top: 123px;
  margin-bottom: 138px;
  padding-top: 0;
  padding-bottom: 55px;
}

.form__input{
  height:auto;
  width: 403px;
  border-radius: 6px;
  border: 1px solid var(--body-bg);
  background: var(--body-bg);
  color: rgba(255, 255, 255, 0.70);
  font-size: 24px;
  font-weight: 400;
  line-height: 120%;
  padding-top: 26px;
  padding-bottom: 27px;
  padding-left: 14px;
}

.form__button{
  width: auto;
  height: auto;
  text-align: center;
  background-color: var(--body-bg);
  border-radius: 6px;
  color: rgba(255, 255, 255, 0.70);
  font-size: 15px;
  font-weight: 700;
  line-height: 192%;
  padding:11px 16px;
}

.form__button:hover,
.form__button:focus{
  transform: scale(1.1);
  transition: all 0.3s ease;
  background-color: var(--current);
}

.form__input._error {
  box-shadow:  0 0 15px red;
}

.modal__button{
  border-radius: 100%;
  background-color: var(--current);
  width: 50px;
  height:50px;

}

.close{
  border: var(--main-text-color) 1px solid;
  border-radius: 20px;
  background-color: inherit;
  padding: 0px 40px;
}

.modal-btn:hover,
.modal-btn:focus{
  transform: scale(1.1);
  transition: all 0.3s ease;
}

/*-----MODAL end-----*/


/*-----THANK-PAGE start-----*/
.body-thank{
  background-color: #191919;
}

.infosent__title{
  font-size: 30px;
  color: #fff;
  margin: 0;
  margin-bottom: 70px;
  font-weight: 400;
  font-size: 70px;
  line-height: 125%;
  letter-spacing: 3.2px;
  text-align: center;
}

.infosent{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 10px solid var(--current);
  position: relative;
  animation: glow 2s ease-in-out infinite;
  border-radius: 30px;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-top: 100px;
  transition: all 0.3s ease;
}

.containerr{
max-width: 1340px;
padding: 0 50px;
margin: 0 auto;
}

@keyframes glow {
0% {
  box-shadow: 0 0 10px var(--current), 0 0 20px var(--current), 0 0 35px var(--current), 0 0 20px var(--current);
}
100% {
  box-shadow: 0 0 20px var(--current), 0 0 30px var(--current), 0 0 40px var(--current), 0 0 50px var(--current);
}
}

/*-----THANK-PAGE end-----*/







  /*-----MODAL end-----*/
  .burger {
    display: none;
  }
    
  .close{
    border: var(--main-text-color) 1px solid;
    border-radius: 20px;
    background-color: inherit;
    padding: 0px 40px;
  }
  .burger {
    position: relative;
    width: 40px;
    height: 25px;
    cursor: pointer;
    padding: 0;
    border: none;
    background-color: transparent;
    color: var(--main-text-color);
  }
  
  .burger__line {
    position: absolute;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    background-color: currentColor;
  }
  
  .burger__line:first-child {
    top: 0;
  }
  
  .burger__line:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
  }
  
  .burger__line:last-child {
    bottom: 0;
  }

  .close{
    display: none;
  }

  @media screen and (max-width:1340px) {
    .jacob .container{
      flex-direction: column;
    }

    .jacob-card__content{
      padding: 40px 0;
      margin: 0;
    }
  }

  @media (max-width: 992px) {
    .episodes-card {
      flex-direction: column;
    }
  
    .episodes-card__image {
      align-self: center;
      margin-right: 0;
      margin-bottom: 40px;
    }
  
    .hero__content {
      padding-bottom: 60px;
      padding-left: 30px;
    }
  
    .hero__title {
      font-size: 45px;
      line-height: 58px;
    }
  
    .title {
      font-size: 40px;
      line-height: 58px;
    }
  
    .btn {
      padding: 10px 15px;
      font-size: 15px;
    }
  
    .episodes-card__title {
      font-size: 40px;
      line-height: 58px;
    }
  
    .episodes-card__descr {
      font-size: 18px;
      line-height: 24px;
    }
  
    .gallery {
      padding: 50px 0;
    }
  
    .episodes {
      padding: 50px 0;
    }
    .jacob .container{
      flex-direction: column;
    }

    .jacob-card__content{
      padding: 40px 0;
      margin: 0;
    }

    .footer {
      padding: 0;
    }

    .footernav__list{
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 76px;
    }
    .footerlist-reset{
      margin: 0;
    }
  }
  
  @media (max-width: 796px) {
    .nav {
      position: fixed;
      left: 0;
      top: 0;
      z-index: 100;
      width: 100%;
      height: 100vh;
      background-color: var(--body-bg);
      padding: 40px;
      transform: translateX(-100%);
      transition: transform 0.3s ease;
    }
  
    .close{
      margin-top: 20px;
      display: block;
    }

    .close:hover,
    .close:focus{
      transition: color 0.3s ease;
      color: var(--current);
      border-color: var(--current);
    }
    .nav--active {
      transform: none;
    }
  
    .nav__list {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .nav__item:not(:last-child) {
      margin-right: 0;
      margin-bottom: 30px;
    }
  
    .nav__link {
      font-size: 34px;
    }
  
    .burger {
      display: block;
    }


  
    .hero .container {
      flex-direction: column;
    }
  
    .hero__image {
      width: 100%;
    }
  
    .hero__content {
      width: 100%;
      padding: 0;
      padding-top: 40px;
    }
  
    .hero__title {
      margin-bottom: 40px;
    }
  
    .episodes__top {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 30px;
    }
  
    .episodes__top .title {
      margin-bottom: 30px;
    }
  
    .gallery__content {
      padding-bottom: 40px;
    }


    .jacob .container{
      flex-direction: column;
    }

    .jacob-card__content{
      padding: 40px 0;
      margin: 0;
    }

    .footer {
      padding: 0;
    }

    .footernav__list{
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 76px;
    }
    .footerlist-reset{
      margin: 0;
    }

    .modal_window{
        width: 700px;
        height: 340px;
        display: flex;
    }

    .modal__title{
      padding: 0;
      margin: 0;
      width: auto;
      height: auto;
      justify-content: flex-start;
    }

    .mtitle{
      font-size: 42px;
    }

    .mtitle-mini{
      font-size: 18px;
      margin-top: 0;
    }

    .form__body{
      margin: 25px 0px;
    }

  }
  
  @media (max-width: 576px) {
    .btn {
      padding: 10px;
      font-size: 14px;
    }
  
    .episodes-card {
      padding: 20px;
    }
  
    .episodes-card__image {
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }
  
    .episodes-card__category {
      margin-bottom: 20px;
    }
  
    .episodes-card__title {
      font-size: 32px;
      line-height: 48px;
    }
  
    .footer__container {
      flex-direction: column;
    }
  
    .footer .logo {
      margin-bottom: 20px;
    }

    .modal_window{
      width: 500px;
      height: 340px;
      display: flex;
  }

  .modal__title{
    padding: 0;
    margin: 0;
    width: auto;
    height: auto;
    justify-content: center;
    margin-right: 20px;
  }

  .mtitle{
    font-size: 32px;
  }

  .mtitle-mini{
    font-size: 15px;
    margin-top: 0;
  }

  .form__body{
    margin: 25px 0px;
  }

  .form__input{
    height:auto;
    width: 253px;
    border-radius: 6px;
    border: 1px solid var(--body-bg);
    background: var(--body-bg);
    color: rgba(255, 255, 255, 0.70);
    font-size: 24px;
    font-weight: 400;
    line-height: 120%;
    padding-top: 26px;
    padding-bottom: 27px;
    padding-left: 14px;
  }
  }
  
  


  

